<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for presenca in presencas %}
    <div class="col text-center" data-aos="flip-left" data-aos-duration="3000">
        <!-- Foto -->
        {% if presenca.user.info.foto_base64 %}
        <img src="data:image/jpeg;base64,{{ presenca.user.info.foto_base64 }}" 
             alt="Foto de {{ presenca.user.get_full_name }}" 
             class="rounded-circle" 
             style="width: 150px; height: 150px; object-fit: cover; border: none;">
        {% else %}
        <img src="https://via.placeholder.com/150" 
             alt="Foto da pessoa" 
             class="rounded-circle" 
             style="width: 150px; height: 150px; object-fit: cover; border: none;">
        {% endif %}
        <!-- Nome -->
        <h5 class="mt-2">{{ presenca.user.get_full_name }}</h5>
        <!-- Cargo e Sala -->
        <p class="text-muted">{{ presenca.user.info.cargo }} - {{ presenca.user.info.sala }}</p>
    </div>
    {% endfor %}
</div>
