{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/global.css' %}" >
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    
</head>
<body>
    {% block body %}{% endblock body %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        AOS.init();
    </script>
    {% block script %}{% endblock script %}
</body>
</html>